.jobsContainer{
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    padding: 1rem 1.8rem;
    margin: 2% 10%;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.jobsContainerBorderleft {
    border-left: 5px solid var(--primary-color);
  }

.aboutrole{
    display: flex;
    padding-top: 0.9rem;
}

.companylogo{
    border-radius: 50%;
    height: auto;
    width: 6rem;
}

.roleinfo{
    margin-left: 1.5rem;
    padding-top: 0.3rem;
}

.companyname{
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 0.8rem;
}

.company{
    display: flex;
    align-items: center;
}

.new,
.featured {
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 0.6rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0;
}

.featured {
    background-color: var(--very-dark-greyish);
}

.role{
    font-size: 1.3rem;
    font-weight: bold;
}

.role:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.rolesubinfo{
    opacity: 0.6;
}

.period{
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.9rem;
    margin-left: 0.9rem;
    opacity: 0.6;
}

.rolekeywords{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: right;
}

.keyword{
    color: var(--primary-color);
    font-weight: bold;
    margin: auto 0.6rem;
    background: var(--secondary-color);
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
}

.keyword:hover{
    background-color: var(--primary-color);
    color: #ffff;
    cursor: pointer;
}