*{
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(180, 29%, 50%);  /* Primary */
  --secondary-color: hsl(180, 52%, 96%); /* Background */
  --tertiary-color: hsl(178, 29%, 51%);   
  --box-shadow: 0 4px 6px 4px rgba(91,164,164,.2);
  --default-font-family: 'League Spartan', sans-serif;
  --very-dark-greyish: hsl(180, 14%, 20%);
  --dark-greyish: hsl(180, 8%, 52%);

}

body {
  margin: 0px auto;
  font-family: var(--default-font-family);
  background-color: var(--secondary-color);
}